<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier Profil</title>
</head>
<body>

<h2 style="text-align:center;">Modifier votre profil</h2>

<form method="POST" enctype="multipart/form-data" style="width:300px;margin:auto;">
    {% csrf_token %}

    <label>Bio :</label><br>
    <textarea name="bio" rows="4" style="width:100%;">{{ profile.bio }}</textarea><br><br>

    <label>Image :</label><br>
    <input type="file" name="image"><br><br>

    <button type="submit">Enregistrer</button>
</form>

</body>
</html>
